.card {
    border: none;
}

.card-body {
    background-color: #404040;
    border-radius: 0px 0 10px 10px;
}

.card-tag {
    position: absolute;
    top: 140px;
    width: 85%;
    left: 7.5%;
}

.lançamento {
    background-color: var(--blue);;
}